$fa-font-path: "~font-awesome/fonts";
@import "~normalize-scss";
@include normalize();
@import "~font-awesome/scss/font-awesome";
@import "scss/dashboard";
@import "scss/layout";
@import "scss/settingsView";
@import "scss/utils";

html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    position: relative;
    font-size: 1.6rem;
}

// style our app wrappers
#root, [data-reactroot] {
    height: 100%;
}

// override normalize-css weird button treatment
button, html [type="button"], [type="reset"], [type="submit"] {
    -webkit-appearance: initial;
}
