.container {
    width: 70%;
    margin: 5% auto;

    .row {
        margin: 0 -15px;

        &:after {
            content: '';
            display: table;
            clear: both;
        }

        .col {
            float: left;
            padding: 0 15px;
        }
    }
}
