.settings-view {
    .tile {
        padding: 15px;
        margin-bottom: 30px;
    }

    .tile-members {
        width: 50%;

        table td {

            &:first-child {
                width: 96px;
            }

            &.member-name {
                font-size: 20px !important;
            }
        }
    }

    .tile-others {
        width: 50%;

        .input-wide {
            width: 100% !important;
        }

        .text-right {
            text-align: right;
        }
    }
}
