.clearfix {
    &:after {
        content: ' ';
        display: table;
        clear: both;
    }
}

.space {
    display: inline-block;
    &:before {
        content: '';
        display: inline-block;
        padding: 3px;
    }
}

.paper {
    padding: 15px;
}
